
html {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Flex {
    display: flex;
    flex-wrap: wrap;  
}
/*I was never able to get the help for flex, in fact my code got 
thrown out of wack and I had to almost rewrite this entire css file. 
Did the best I could with what I found and given.*/
.split {
    height: 100vh;
    width: 100vw;
}
/*here I am able to use ::after and ::before to place gif's next to h1*/
h1::before {
    content: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTd4enN2ZWdxNWY0Yzg1YW04NHA1bmFyMGMyZDQ4cTVrZTFjNGltZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/chcdDp8A4ONayvgjnm/100.webp);
}

h1::after {
    content: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTd4enN2ZWdxNWY0Yzg1YW04NHA1bmFyMGMyZDQ4cTVrZTFjNGltZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/chcdDp8A4ONayvgjnm/100.webp);
}

/*I am just centering my ol so it flows better with everything else
 and when I am wanting to style classes in css I need a "."*/
ol.Top3{
    display: inline-block;
    text-align: center;
}

.CenterTable{
    margin-left: auto;
    margin-right: auto;
}
/*I am using the th"table header" to change the background-color
and the do the tr and careful not to do td.*/
th {
    background-color: green;
}

tr:nth-child(odd) {
    background-color: green;
}
/*for id's I need a "#" or my code will not be changed.*/
#Table {
    background-color: blanchedalmond;
}

.forms {
    background-color: green;
    
}
/*Just added some background-color to my <div>'s*/
.forms2 {
    color: white;
}

#Link-Zelda {
    background-color: #fff066;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}
/*Just changing the font-size for the alt's*/
#Link-Zelda {
    font-size: 20px;
}


